.indexContainer{
     text-align: justify;
     padding: 0 2rem 0 2rem;
}

.twoColumns {
     box-sizing: border-box;
}

.row {

}

.column {
    float: left;
}

.left {
    width: 80%;
    padding: 0 4rem 0 4rem;
}

.right {
    width: 20%;
    margin-top: 40px;
}

/* Clears float after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.imgEmily {
    width: 180px;
}

/*Responsive layout makes two columns stack on top of each other instead of next to*/
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }

    .imgEmily {
        width: auto; /*Important configuration otherwise pic will fk-up*/
    }

    .right {
        padding: 0 10rem 10rem 10rem;
        margin-top: 0;
    }
}
