.indexContainer{
     text-align: justify;
}

.twoColumns {
     box-sizing: border-box;
}


.row {

}

.column {
    float: left;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

/* Clears float after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}