.projectContainer {
    margin: auto;
    /*padding: 10px;*/
    text-align: justify;
}

.delayNoMoreProject {
    background: #F9AF3E; /*Delay No More Orange*/
    color: #FFFFFF;
}

.projectPadding {
    padding: 5rem;
}

.projectsP {
    margin: 0 0 0 0; /*Remove marginBottom styling*/
}