.footer {
    /*position: absolute;*/
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    text-align: center;
}

.iconLink {
    text-decoration: none;
    color: #162129; /*Icon color (charcoal)*/
}

.iconStyle {
    font-size: 2rem !important; /*Changing icon size*/
    padding: 0.5rem;
}

.footerContent {
    color: black;
}

.footerP {
    margin: 0 0 0 0; /* Removing margin-bottom from footer p-elements */
    font-size: 11px;
}

