@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
}

body {
    min-height: 93%;
    position: relative;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
}

h1 {
    font-family: 'Open Sans', sans-serif !important;
}

/*For footer sticking to the bottom*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

